html,
body {
  margin: 0;
}
#header {
    width: 100%;
    height: auto;
    min-height: 90px;
    background: #c666da;
    background-image: none;
    text-align: center;
}
input {
    width: 35%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  .table {
    /* display: ; */
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    text-align: center;
  }
  button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: 16px;
    border-radius: 5px;
  }
  .button-danger{
    background-color: #dc3545; /* red */
   
      
  }
  .button-succes{
    background-color: #04AA6D; /* Green */
  }
  .button-edit{
    background-color: #2196F3 /* Blue */
        
  }

