<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="header">
    MY FIRST PROJECT
  </div>

  <div class="table" id="app">
    <br>
    <strong id="sub-tittle">Todo App</strong>
    <br>
    <input type="text" v-model="formToDo.text" placeholder="Add your new todo">
    <button type="button" class="button--success" @click="saveToDo">+</button>

    <br>

    <div class="to-do-list">
      <div class="to-do-list__item" v-for="(item, index) of toDoList" :key="index">

        <span>{{index + 1}}- {{ item.text}}</span>
        <div class="buttons-action">
          <button class="button--small button--edit" @click="editToDoButtonClick(item)"> E </button>
          <button class="button--small button--danger" @click="remove(index)">X
            <i class=""></i>
          </button>
        </div>

      </div>
    </div>
    <div v-if="!toDoList.length">No hay to do para mostrar</div>
    <button @click="removeall()" class="button--danger">Clean All</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</body>

</html>
<script src="toDoList.js"></script>